<section class="page_section">
  <section class="board_section">
    <div class="grid-container">
      <div (click)="onMove(1)" class="grid-item"><h1>{{ moves.row1[0] }}</h1></div>
      <div (click)="onMove(2)" class="grid-item"><h1>{{ moves.row1[1] }}</h1></div>
      <div (click)="onMove(3)" class="grid-item"><h1>{{ moves.row1[2] }}</h1></div>
      <div (click)="onMove(4)" class="grid-item"><h1>{{ moves.row2[0] }}</h1></div>
      <div (click)="onMove(5)" class="grid-item"><h1>{{ moves.row2[1] }}</h1></div>
      <div (click)="onMove(6)" class="grid-item"><h1>{{ moves.row2[2] }}</h1></div>
      <div (click)="onMove(7)" class="grid-item"><h1>{{ moves.row3[0] }}</h1></div>
      <div (click)="onMove(8)" class="grid-item"><h1>{{ moves.row3[1] }}</h1></div>
      <div (click)="onMove(9)" class="grid-item"><h1>{{ moves.row3[2] }}</h1></div>
    </div>
  </section>
</section>
