
.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  padding: 2rem;
  border: 5px solid rgb(7, 1, 0);
  border-radius: 15px;
  background-image: url(../../assets/wood.jpg);
  position: relative;
}

@media (max-width: 40rem) {
  .grid-container {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }
}


.grid-item {
  background-color: rgb(51, 185, 17);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  font-size: 4.375rem;
  margin: 0;
  text-align: center;
  cursor: pointer;
  display: grid;
}

@media (max-width: 40rem) {
  .grid-item {
    font-size: 3rem;
  }
}

.grid-item-checked {
  background-color: rgb(51, 185, 17);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  font-size: 75px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  display: grid;
}

@media (max-width: 40rem) {
  .grid-item-checked {
    font-size: 3rem;
  }
}

.grid-item:hover {
  background-color: greenyellow;
}

.onlyHover {
  display: none;
}

.grid-item:hover .onlyHover {
  display: block;
  opacity: 30%;
}

h1 {
  margin: 0;
  align-self: center;
}

.title {
  color: white;
  margin: 0;
  font-size: 5rem;
  text-align: center;
  font-family: 'Calligraffitti', cursive;
}

@media (max-width: 40rem) {
  .title {
    font-size: 3.5rem;
  }
}

.turn {
  color: white;
  font-size: 2rem;
  font-style:italic;
  margin-top: 1rem;
  visibility:visible;
}

.turnInvisible {
  color: white;
  font-size: 2rem;
  font-style:italic;
  margin-top: 1rem;
  visibility: hidden;
}

strong {
  font-style: normal;
}

.signature {
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  right: 2.2rem;
  bottom: 0.5rem;
}

.signature:hover {
  text-shadow: 1px 1px rgb(46, 44, 44);
}

a {
  text-decoration: none;
  color: black;
}
